<div class="container">
    <main>
        <!--------- VENATANA MODAL PARA ACTUALIZACION DE RESERVAS ------------->
    <div class="overlay" id="overlay"></div>
    <div class="modal-update" id="modal-update">
    <span class="material-symbols-outlined" id="close-btn" routerLink="/">close</span>
    <div class="form-tittle">
        <h1>ACTUALIZACION DE RESERVA</h1>
    </div>
    <div class="filter">
        <form>
            <input type="text" name="search" placeholder="Numero de Reserva....">
        </form>
    </div>
    <div class="title-table">
        <h2>Informacion de reserva</h2>
    </div>
    <div class="tabla">
        <table>
            <thead>
                <tr>
                    <th>NUMERO DE RESERVA</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>NOMBRE TIENDA</th>
                    <th>NOMBRE SERVICIO</th>
                    <th>DIRECCION</th>
                    <th>DESCRIPCION</th>
                    <th>PRECIO</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>350184791</td>
                    <td>2024-09-20</td>
                    <td>9:00 am</td>
                    <td>Barber shop</td>
                    <td>Corte de peloi</td>
                    <td>cll 29 b sur # 41 a 13</td>
                    <td>corte de pelo sencillo</td>
                    <td>16000</td>
                    <td>Activo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form>
        <div class="form-items">
            <div class="form-option">
                <h2>Fecha</h2>
                <input type="text" id="fecha" name="fecha" required>
            </div>
            <div class="form-option">
                <h2>Hora</h2>
                <input type="text" id="hora" name="hora" required>
            </div>
            <div class="form-option">
                <h2>Estado</h2>
                <select name="estado" id="estado">
                    <option value="ACTIVO" selected>ACTIVO</option>
                    <option value="COMPLETADO">COMPLETADO</option>
                    <option value="CANCELADO">CANCELADO</option>
                </select>   
            </div>
        </div>
        <div class="form-button">
            <button type="submit">
                <span>Actualizar</span>
            </button>
        </div>
    </form>
</div>
    </main>
</div>