@import url(../../../assets/formularioActualizacion.css);

.modal-update {
    width: 90vw;
    height: 80vh;
}

@media screen and (max-width: 1300px){

    .modal-update {
        width: 90%;
        height: 96vh;
        position: fixed;
    }

    .modal-update .form-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
    }
}

@media screen and (max-width: 890px){

    .modal-update {
        width: 90%;
        height: 98vh;
        position: fixed;
    }

    .modal-update .form-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
    }

    .modal-update form input[type=text] {
        width: 95%;
    }

    .form-details #detalles {
        width: 95%;
        height: 13rem;
    }
}