<footer>

    <a class="logo" routerLink="/" target="_self"><img class="logoreserva" src="/logo_blanco.png" alt="logo reserva" /></a>

    <a class="ayuda" href="#">¿NECESITAS AYUDA?</a>

    <ul>
        <li><a routerLink="/card">CATEGORÍAS</a> </li>
        <li><a routerLink="">TUS RESERVAS</a> </li>
        <li><a href="#masPopulares">MÁS POPULARES</a> </li>
        <li><a routerLink="">CANCELAR RESERVAS</a> </li>
        <li><a routerLink="">¿QUIERES ALIARTE?</a> </li>
    </ul>

    <div class="boxgrid">
        <a class="quienessomos"routerLink="quienes-somos">QUIENES SOMOS</a>



        <a class="facebook" href="https://www.facebook.com/" target="_blank"><img class="logofacebook" src="/logo_facebook.png"
                alt="logo facebook" /></a>

        <a class="instagram" href="https://www.instagram.com/" target="_blank"><img class="logoinstagram" src="/logo_instagram.png"
                alt="logo instagram" /></a>

        <a class="xred" href="https://x.com/" target="_blank"><img class="logoxred" src="/logo_x.png"
                alt="logo xred" /></a>

        <a class="youtube" href="https://www.youtube.com/" target="_blank"><img class="logoyoutube" src="/logo_youtube.png"
                alt="logo youtube" /></a>

    </div>

</footer>
