<div class="part1">
    <div class="content">
        <h1>Quienes somos</h1>
        <h2>¡Nos alegra verte por aquí!
        </h2>
        <p class="p1">Somos una plataforma digital y App móvil para empresas y profesionales
            independientes, la cual gestiona sus reservas y pagos online.
        </p>

    </div>
    

    <img class="imgpeaple" src="/img2.png" alt="Personas reservando" />

</div>



    <div class="mvv">

        
            <h3 class="tmision">Misión</h3>

            <p class="pmision">“Llevar a personas y empresas una herramienta digital simple y rápida para el crecimiento y desarrollo de
                su negocio”
            </p>
        

        
            <h3 class="tvision">Visión </h3>

            <p class="pvision">“Acercar la digitalización a todas las personas no importando el tamaño de su actividad o negocio
                entregándoles la mejor experiencia de usuario haciendo crecer su negocio acercándolos a más
                consumidores“
            </p>
      

        
            <h3 class="tvalores">Valores</h3>
            
                <ul class="pvalores">
                    <li>Satisfacción del cliente como objetivo fundamental. </li>
                    <li>Excelencia, compromiso, usabilidad y efectividad de nuestro servicio. </li>
                    <li>Mejora e innovación como una inspiración permanente. </li>
                    <li>El respeto a las personas y al medio ambiente en la base de nuestros </li>

                    
                </ul>

    </div>
