/* FUENTES */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.navegacion {
  text-align: center;
  padding: 15px;
  background-color: #ff8811;
}

.button {
  cursor: pointer;
}

/*  1 SECTION  */

.Section_1 {
  text-align: center;
  width: 100%;
  padding: 15px;
  background-color: #ff8811;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0px 0px 0px 200px;
}
aside {
  align-items: center;
}
.Illustration_image {
  width: 70%;
  border-radius: 0px 200px 0px 200px;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-family: "Ubuntu", sans-serif;
  margin: 10% 10% 0% 10%;
}
p {
  font-size: 24px;
  margin: 15px 10% 2% 10%;
  font-family: "Oxygen", sans-serif;
}
button {
  background-color: #a62639;
  color: white;
  width: 40%;
  padding: 1%;
  border-radius: 20px;
  border-style: none;
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
}

/*  2 SECTION  */

.Section_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  padding: 35px;
}

.img_spa {
  width: 100%;
  height: 80%;
  padding: 10%;
  border-radius: 100px 100px 100px 100px;
}
.img_restaurants {
  width: 100%;
  height: 80%;
  padding: 10%;
  border-radius: 100px 100px 100px 100px;
}
.img_photo_session {
  width: 100%;
  height: 80%;
  padding: 10%;
  border-radius: 100px 100px 100px 100px;
}
.img_barbershop {
  width: 100%;
  height: 80%;
  padding: 10%;
  border-radius: 100px 100px 100px 100px;
}
h2 {
  font-size: 32px;
  font-family: "Ubuntu", sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}
.Left_Arrow {
  width: 100%;
  margin-left: 10px;
}
.leftArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Right_Arrow {
  width: 100%;
  margin-right: 10px;
}
.rightArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SUBTITULO */

.mostpopular {
  color: #a62639;
  border-color: black;
  margin-top: 8%;
  padding-left: 6%;
  margin-bottom: 50px;
}
/*  3 SECTION  */

.Section_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 100px;
}

.masPopulares {
  margin: 0 auto;
}

.mostPopularImg {
  height: auto;
  padding: 7%;
}

.Left_Arrow {
  width: 70%;
  margin-left: 10px;
}
.leftArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Right_Arrow {
  width: 70%;
  margin-right: 10px;
  
}
.rightArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  MEDIA QUERY  */

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    margin: 10% 10% 0% 10%;
  }
  p {
    font-size: 20px;
    margin: 15px 10% 2% 10%;
  }
  button {
    width: 40%;
    padding: 1%;
    border-radius: 20px;
    font-size: 14px;
  }
  .Section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  .Illustration_image {
    width: 100%;
    margin-top: 10%;
    border-radius: 0px 100px 0px 100px;
  }
  .categoryBarbershop {
    display: none;
  }
  .categorySpa {
    display: none;
  }
  .Section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
  }
  .mostPopularImg5{
    display: none;
  }
  .mostPopularImg4{
    display: none;
  }
  .mostpopular{
    margin-top:115px;
  }
 .rightArrow_{
 grid-column: 5 ;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
}


/*  MEDIA QUERY  */

@media (max-width: 480px) {
  h1 {
    font-size: 35px;
    margin: 10% 10% 0% 10%;
  }
  p {
    font-size: 18px;
    margin: 15px 10% 2% 10%;
  }
  button {
    background-color: #a62639;
    color: white;
    width: 40%;
    padding: 2%;
    border-radius: 20px;
    border-style: none;
    font-size: 14px;
  }
  .Section_1 {
    width: 100%;
    padding: 10%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-radius: 0px 0px 0px 30%;
  }
  .Item_Section1 {
    grid-row: 1;
  }
  .Illustration_image {
    display: none;
  }
  .Section_2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .categoryPhotoSession {
    display: none;
  }
  .Section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }
  .mostPopularImg3{
    display: none;
  }
  .rightArrow_{
    grid-column: 4 ;
     grid-row: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .Left_Arrow {
      width: 70%;
      margin-left: 10px;
    }
}