    <section class="Section_1">
      <article class="Item_Section1">
        <h1>¡HAZ TU RESERVA CON NOSOTROS!</h1>
        <p>Reserva tus turnos fácil y rápido con nuestra aplicación</p>
        <a routerLink="/card">
        <button class="button">HAZ TU RESERVACIÓN !!</button>
      </a>
      </article>
      <aside>
        <img
          class="Illustration_image"
          src="/imagenPrincipal.png"
          alt="imagen ilustrativa"
        />
      </aside>
    </section>
    <section class="Section_2">
      
      <figure class="categorySpa">
        <a>
          <img class="img_spa" src="/spa.png" alt="Spa" />
          <h2>Spa</h2>
          <p>Es tiempo para ti</p>
        </a>
      </figure>
      <figure class="categoryRestaurants">
        <a>
          <img
            class="img_restaurants"
            src="/restaurants.png"
            alt="Restaurants"
          />
          <h2>Restaurantes</h2>
          <p>Tu paladar merece lo mejor.</p>
        </a>
      </figure>
      <figure class="categoryPhotoSession">
        <a>
          <img
            class="img_photo_session"
            src="/photo session.png"
            alt="Photo Session"
          />
          <h2>Sesiones fotograficas</h2>
          <p>Transformamos momentos en obras maestras.</p>
        </a>
      </figure>
      <figure class="categoryBarbershop">
        <a>
          <img
            class="img_barbershop"
            src="/Barbershop.png"
            alt="Barbershop"
          />
          <h2>Barberias</h2>
          <p>El lugar donde los hombres encuentran su mejor versión.</p>
        </a>
      </figure>
      
    </section>
    <article><h2 class="mostpopular">Mas populares</h2></article>
    <section id="masPopulares" class="Section_3">
     
      <a class="masPopulares"
        ><img
          class="mostPopularImg1"
          src="/mostpopular1.png"
          alt="most popular 1"
      /></a>
      <a class="masPopulares"
        ><img
          class="mostPopularImg2"
          src="/mostpopular2.png"
          alt="most popular 2"
      /></a>
      <a class="masPopulares"
        ><img
          class="mostPopularImg3"
          src="/mostpopular3.png"
          alt="most popular 3"
      /></a>
      <a class="masPopulares">
        <img
          class="mostPopularImg4"
          src="/mostpopular4.png"
          alt="most popular 4"
      /></a>
      <a class="masPopulares">
        <img
          class="mostPopularImg5"
          src="/mostpopular1.png"
          alt="most popular 5"
      /></a>

    </section>

