/* You can add global styles to this file, and also import other style files */
:root {
    --color-blue: #335d8f;
    --color-yellow: #ff8811;
    --color-red: #a62639;
    --color-white: #ffffff;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}