@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.card {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0 8px 3px rgba(128, 128, 128, 0.937);
    background-color: #F8F8FF;
}

.contenedor-imagen-card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-informacion-card {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenedor-informacion-card h1 {
    font-family: 'Ubuntu';
    font-size: 25px;
    text-align: center;
}

.contenedor-informacion-card p {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.card button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 35px;
    background-color: #A62639;
    color: white;
    font-family: "Oxigen";
    cursor: pointer;
}