<main>
  <div class="overlay" id="overlay"></div>
  <div class="modal-registro" id="modal-registro">
    <span routerLink="/"
      class="material-symbols-outlined"
      id="close-btn"
      >close</span
    >
    <div class="form-tittle">
      <h1>HAZ TU RESERVACIÓN</h1>
    </div>
    <form>
      <div class="form-items">
        <div class="form-option">
          <h2>Documento</h2>
          <input type="text" id="Documento" name="Documento" required />
        </div>
        <div class="form-option">
          <h2>Nombre</h2>
          <input type="text" id="Nombre" name="Nombre" required />
        </div>
        <div class="form-option">
          <h2>Apellido</h2>
          <input type="text" id="Apellido" name="Apellido" required />
        </div>
        <div class="form-option">
          <h2>Teléfono</h2>
          <input type="text" id="Teléfono" name="Teléfono" required />
        </div>
        <div class="form-option">
          <h2>Correo</h2>
          <input type="text" id="Correo" name="Correo" required />
        </div>
        <div class="form-option">
          <h2>Hora</h2>
          <input type="text" id="Hora" name="Hora" required />
        </div>
        <div class="form-option">
          <h2>Fecha</h2>
          <input type="text" id="Fecha" name="Fecha" required />
        </div>
        <div class="form-option">
          <h2>Dirección</h2>
          <input type="text" id="Dirección" name="Dirección" required />
        </div>
        <div class="form-option">
          <h2>Teléfono de negocio</h2>
          <input type="text" id="Teléfono" name="Teléfono" required />
        </div>
      </div>
      <div class="form-details">
        <div class="form-option">
          <h2>Detalles</h2>
          <input type="text" id="Detalles" name="Detalles" required />
        </div>
      </div>
      <div class="form-button">
        <button type="submit">
          <span>Reservar</span>
        </button>
      </div>
    </form>
  </div>
</main>
